/*********************** GENERAL ************************/
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: "NeueMetana-Regular", sans-serif;
	line-height: 1em;
	cursor: none;
	scroll-behavior: smooth;
}

body{
	position: relative;
	overflow-x:hidden;

	}


section{
	transition: transform 0.4s;
	will-change: transform;

}

.container{
	width: 70%;
	margin: 0 auto;

}


.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a img{
	display: block;
	width: 100%;
	height: auto;
}
li a{
	color: #000;
}
#banner{
	  
	background-color:#FFAD19;
}

#footer{
	  	background-color:#FFAD19;
}


.no-display{
	display: none;
}

:root {
  --mainColor: #F76D22;
} 

a {
   background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
   text-decoration: none;
   font-family: "Montserrat";
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23F76D22' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 5px;
  background-repeat: repeat-x;
  text-decoration: none;
}

a:visited {
  color: #FFF;
}


/******************* cursor *******************/
.Cursor {
  pointer-events: none;
  position: fixed;
  display: flex;
  border-radius: 30;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-filter: url("#goo");
          filter: url("#goo");
}
.Cursor span {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

svg{
 	position: fixed;
}
 /*.cursor{
	pointer-events: none;
	position: absolute;
	display: block;
	border-radius: 0;
	transform-origin: center center;
			mix-blend-mode: luminostiy;
	transform: translate(-10%,-10%);
	top: 0;
	left: 0;
	z-index: 1000;
}
.cursor span {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        border-radius: 80px;
       
        	 background-color: #fff;

        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
	    width: 35px;
        height: 35px;	  
    }
.trail1{
	transition: 0.056s;
}
.trail2{
	transition: 0.059s;
}
.trail3{
	transition: 0.062s;
}
.trail4{
	transition: 0.065s;
}
.trail5{
	transition: 0.068s;
}
.trail6{
	transition: 0.071s;
}
.trail7{
	transition: 0.074s;
}
.trail8{
	transition: 0.077s;
}
.trail9{
	transition: 0.08s;
}
.trail10{
	transition: 0.083s;
}/*
.trail11{
	transition: 0.031s;
}
.trail12{
	transition: 0.032s;
}
.trail13{
	transition: 0.033s;
}
.trail14{
	transition: 0.034s;
}
.trail15{
	transition: 0.035s;
}
.trail16{
	transition: 0.036s;
}
.trail17{
	transition: 0.037s;
}
.trail18{
	transition: 0.038s;
}
.trail19{
	transition: 0.049s;
}
.trail20{
	transition: 0.05s;
}*/




/****************** header*******************/

#header{
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 9vh 0 0;
	z-index: 5;

}
.logo{
	width:3%;
	filter: invert(0);
}
#nav-links ul li{
	padding: 0 1em;
}
#nav-links ul li:first-child{
	padding-left: 0;
}
#nav-links ul li:last-child{
	padding-right: 0;
}

#nav-links ul li a{
	font-size: 20px;
	font-family: "Montserrat", sans-serif;	
	color:#FFF;

transition: letter-spacing .5s;
	-moz-transition: letter-spacing .5s;
	-webkit-transition: letter-spacing .5s;
}
#nav-links ul li a:hover{
	letter-spacing: .3em;
}

.nav-links-mobile{
	position: absolute;
	background-color: black;
	top:0;
	left:0;
	opacity: 0;
	z-index: -1;
	
}
.display-nav-links-mobile{
	z-index: 4;
	animation-name: fadeMobileMenu;
	animation-duration: .2s;
	animation-fill-mode: forwards;
}
@keyframes fadeMobileMenu{
	0%{opacity: 0;}
	25%{opacity: .25;}
	50%{opacity: .5;}
	75%{opacity: .75;}
	100%{opacity: 1;}
}
.display-nav-links-mobile ul{
	position: fixed;
	top: 0;
	left: 0;
	transform: translateY(-50%);
	flex-direction: column;
	align-items: flex-start;
}
.display-nav-links-mobile ul li{
	padding: 0;
	margin: 1em;
	border-bottom: 0px solid #f32;
	animation-name: mobileLinksAnimation;
	animation-duration: .2s;
	animation-fill-mode: forwards;
	transform: translateY(50%);
}
@keyframes mobileLinksAnimation{
	0%{opacity: 0;transform: translateY(50%);}
	50%{opacity: .5;transform: translateY(25%);}
	100%{opacity: 1;transform: translateY(0%);}
}
.display-nav-links-mobile ul li a{
	font-family: "MagnatPoster-Regular", sans-serif;
	font-size: 96px;
	color: #FFF;
	line-height: .8em;

}
.display-nav-links-mobile ul li a:hover{
	color:#fff;
	transition: color .5s;
	-moz-transition: color .5s;
	-webkit-transition: color .5s;
}
.toggle-button{
	width: 25px;
	height: 20px;
	cursor: pointer;
	display: none;
}
.toggle-middle-toggle-button-bar{
	opacity: 0%;
}
.toggle-button-bar{
	width: 100%;
	height: 2px;
	background-color: #fff;
	
}
.translate-top-toggle-button-bar{
	transform: translateY(-5px);
}
.translate-bottom-toggle-button-bar{
	transform: translateY(5px);
}

.rotate-top-toggle-button-bar,.rotate-bottom-toggle-button-bar{
	transform-origin: 0 0;
	
}
.rotate-top-toggle-button-bar{
	transform: rotate(45deg);
}
.rotate-bottom-toggle-button-bar{
	
	transform: rotate(-45deg);
}
.translate-top-toggle-button-bar,.translate-bottom-toggle-button-bar,.rotate-top-toggle-button-bar,.rotate-bottom-toggle-button-bar{
	transition: transform .2s linear;
	-moz-transition: transform .2s linear;
	-webkit-transition: transform .2s linear;

}







/****************** banner ********************/
#banner{
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;

}

.banner-text{
	padding: 28vh 0 2em;

}
h1{
	font-size: 25px;
	font-family: "Montserrat",sans-serif;
	font-weight: 400;
	color:#FFF;
}
h2{
	font-size: 90px;
	line-height: 1.2;
	font-family: "NeueMetana-Regular", sans-serif;
	color: #8C1D28;
}
h3{
	
	font-family: "Montserrat", sans-serif;
	color: #FFFFFF;
	font-weight: 370;
}
.banner-icons{
	width: 100%;
	padding-bottom: 13vh;
}
.arrow{
	width: 4%;
	animation-name: arrow;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	}

@keyframes arrow{
	from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}
.eye{
	width: 25%;
}
.eye .eye-img{
	width: 65%;
	margin: 0 auto;
	animation-name: eye;
	z-index: 3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
.eye .eye-lines{
	transform: translate(-12%,-60%);
	z-index: 1;
}
@keyframes eye{
	from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); } 
}

.eye-lines{
	animation-name: lines;
	animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    mix-blend-mode: multiply;
}

@keyframes lines{
	from { transform: translate(-40px, -50px) scale(1); }
    65%  { transform: translate(-40px, -50px) scale(1.1); }
    
    to   { transform: translate(-40px, -50px) scale(1); } 
}

.eye img,.arrow img, .eye-lines img{
	display: block;
	width: 100%;
	height: auto;
}




/****************** projects *****************/
#projects{
	
	background-color: #000;
	padding-top: 70vh;
}
.projects-container{
	flex-direction: column;
	align-items: flex-start;
	padding: 12em 0;
	z-index: 10;
}

.thumbnail{
	position: absolute;
	transform: scale(0);
	right: 0;
	width: 60%;
}
.thumbnail img,.thumbnail-mobile img{
	width: 100%;
	height: auto;
	display: block;
	z-index: 1000000;
}

.thumbnail-mobile{
	display: none;
	width: 100%;
}
.project{
	margin-bottom:7em;

}
.project-title,.project-sub-title{
	font-family: "NeueMetana-Regular", sans-serif;
	color: #232323;
	transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	margin-bottom:0.2em;
}



.project-title{
	font-size: 120px;
	cursor: none;
	
}
.project-title:hover{
		letter-spacing: .02em;
		color:#fff;
	}
.project-title:hover{
		letter-spacing: .02em;
		color:#fff;
}
.project-title:hover  + .project-sub-title{
	color: #fff;
}
.project-sub-title{
	font-size: 35px;
}

.eye:hover{
		letter-spacing: .02em;
		color:#fff;
	}

/*
.font-animation-on{
	
	animation-name: fontAnimationOn;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
@keyframes fontAnimationOn{
	0%{font-weight: 400;}
	25%{font-weight: 500;}
	50%{font-weight: 600;}
	75%{font-weight: 700;}
	100%{font-weight: 800;}
}*/




/********************* footer ****************************/
#footer{
	padding-top: 8em;
	z-index: 5;
}
.top-footer{
	margin-bottom: 5.5em;
}
.social-icons{
	width: 15%;
	filter: invert(0);
}
.social-icon{
	padding: 0 .5em;
}
.social-icon:first-child{
	padding-left: 0;
}
.social-icon:last-child{
	padding-right: 0;
}
.social-icon a img{
	width: 100%;
	height: 100%;
}

.horizontal-line{
	background-color: #070707;
	width: 100%;
	height: 1pt;

}
.bottom-footer{
	font-size: 20px;
	font-family: "Montserrat", sans-serif;
	padding: 3em 0;
	color:#fff;
	font-weight: 300;
}



.noise {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .08;
}








@media only screen and (max-width: 1740px){
	.container{
		width: 75%;
	}
}
@media only screen and (max-width: 1600px){
	h1{
		font-size: 20px;
	}

	h2{
		font-size: 70px;
	}

	.project-title{
	font-size: 90px;
	cursor: none;
	
	}

	.projects-container{
	margin-left:30px;
	}

	.project-sub-title{
	font-size: 25px;
	}

	.eye-lines{
	margin-left: 5px;
	margin-top: 10px;
    }

@media only screen and (max-width: 990px ){
	.container{
		width: 90%;
	}
	.toggle-button{
		display: flex;
		flex-direction: column;
	}
	.Cursor{
		display: none;
	}

	.projects-container{
	margin-left:2px;
	}
	
	.eye{
	display: block;
	margin-top: 60px;
  	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
	}

	.eye-lines{
	display: block;
  	margin-left: 28px;
  	margin-right: auto;
  	margin-top: 17px;
  	width: 70%;
  }
	
}
@media only screen and (max-width: 915px){
	.logo{
		filter: invert(0);
		width: 5%;
	}
	.social-icons{
		width: 30%;
		z-index: 100;
	}
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 60px;
	}
	h3{
		font-size: 40px;
	}
	.thumbnail-mobile{
		display: block;
		margin-bottom: 1em;
		z-index: 100;
	}
	.thumbnail hush{
		display: none;
		z-index: 100;
	}
	.project{
		margin-bottom: 1em;
	}
	.project-sub-title{
		margin-bottom: 1.5em;
	}
	.project-title,.project-sub-title{

		color: #fff;
	
	}
	
}
@media only screen and (max-width: 768px){
	h2{
		font-size: 60px;
	}
}
@media only screen and (max-width: 690px){
	h1{
		font-size: 25px;

	}
	h2{
		font-size: 55px;
	}
	h3{
		font-size: 30px;
	}
}
@media only screen and (max-width: 575px){
	.logo{
		width: 6%;
	}
	.social-icons{
		width: 40%;
	}
	h1{
		font-size: 25px;

	}
	h2{
		font-size: 50px;
	}
}
@media only screen and (max-width: 455px){
	.logo{
		width: 8%;
	}
	.social-icons{
		width: 50%;
	}
	h1{
		font-size: 16px;

	}
	h2{
		font-size: 40px;
	}
	h3{
		font-size: 20px;
	}
	.display-nav-links-mobile ul li a{
		font-size: 60px;
	}
	.project-title{
		font-size: 40px;
	}
	.project-sub-title{
		font-size: 20px;
	}
	.arrow{
		display: none;
	}
	
	.bottom-footer{
		font-size: 12px;
		padding: 2em 0;
	}
	.eye{
	display: block;
	margin-top: 60px;
  	margin-left: auto;
  	margin-right: auto;
  	width: 70%;
	}

	.eye-lines{
	display: block;
  	margin-left: 22px;
  	margin-right: auto;
  	margin-top: 17px;
  	width: 70%;
  }
@media only screen and (max-width: 408px){
	h1{
		font-size: 16px;

	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 16px;
	}
}

@media only screen and (max-width: 338px){
	h1{
		font-size: 14px;

	}
	h2{
		font-size: 28px;
	}
}



