@font-face{
	font-family: "blaak-regular";
	src: url("blaak/BlaakRegularPersonalUse-9DdL.ttf");
}

@font-face{
	font-family: "blaak-thin";
	src: url("blaak/BlaakThinPersonalUse-nzoP.ttf");
}

@font-face{
	font-family: "blaak-bold";
	src: url("blaak/BlaakBoldPersonalUse-G28D.ttf");
}

@font-face{
	font-family: "MagnatHead-Regular";
	src:url("magnat/MagnatHead-Regular.otf");
}

@font-face{
	font-family: "magnat-regular";
	src:url("magnat/MagnatHead-Regular.otf");
}

@font-face{
	font-family: "MagnatHead-Bold";
	src:url("magnat/MagnatHead-Bold.otf");
}

@font-face{
	font-family: "NeueMetana-Regular";
	src:url("NeueMetana/NeueMetana-Regular.otf");
}

@font-face{
	font-family: "NeueMetana-Bold";
	src:url("NeueMetana/NeueMetana-Bold.otf");
}

@font-face{
	font-family: "Sombra-Black";
	src:url("Sombra/Sombra-Black.otf");
}

@font-face{
	font-family: "Sombra-Bold";
	src:url("Sombra/Sombra-Bold.otf");
}

@font-face{
	font-family: "Sombra-Light";
	src:url("Sombra/Sombra-Light.otf");
}

@font-face{
	font-family: "Sombra-Medium";
	src:url("Sombra/Sombra-Medium.otf");
}

@font-face{
	font-family: "Sombra-Poster";
	src:url("Sombra/Sombra-Poster.otf");
}

@font-face{
	font-family: "Sombra-Regular";
	src:url("Sombra/Sombra-Regular.otf");
}

@font-face{
	font-family: "Sombra-Thin";
	src:url("Sombra/Sombra-Thin.otf");
}



